  :root {
      --primary-color: #37617a;
      --primary-color-dark: #0d1a20;
      --secondary-color: #fb923c;
      --white: #ffffff;
      --text-light: #a3a3a3;
      --card-bg: rgba(55, 97, 122, 0.2);
    }

    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      /* background: linear-gradient(to right bottom, #0f0c29, #302b63, #24243e);
      color: var(--white); */
      background-color: black;
      color: var(--primary-color-dark);
    }

     img{
        max-width: 100%;
        height: auto;
       
    }


    #navbar{
      color: var(--white);
      width: 100%;
      height: 500px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/image.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    
    .navbar {
      padding: 0.8rem 2rem;
    }
    
    .navbar-brand {
      font-weight: bold;
      font-size: 1.4rem;
      color: var(--white) !important;
      display: flex;
      align-items: center;
    }
    
    .logo {
      color: var(--white);
    }
    
    .logo span {
      color: var(--secondary-color) !important;
    }
    
    .nav-link {
      color: var(--text-light) !important;
      margin: 0 10px;
      transition: color 0.3s;
    }
    
    .nav-link:hover {
      color: var(--secondary-color) !important;
    }
    
    .btn-signup {
      background-color: var(--secondary-color);
      color: var(--primary-color-dark);
      border-radius: 50px;
      padding: 6px 18px;
      transition: 0.3s;
      font-weight: 600;
      border: none;
    }
    
    .btn-signup:hover {
      background-color: #e57a2d;
      color: var(--primary-color-dark);
    }
